DEBUG=1
DJANGO_SECRET_KEY=dev-secret-key-change-in-prod
ALLOWED_HOSTS=localhost 127.0.0.1

POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=app

# OWN Financial API
OWN_AUTH_URL=https://acquirer-qa.own.financial/agilli/v2/auth
OWN_BASE_URL=https://acquirer-qa.own.financial/agili/parceiro/v2
OWN_CLIENT_ID=your-client-id-here
OWN_CLIENT_SECRET=your-client-secret-here
OWN_SCOPE=your-scope-here
